body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{

  --amplify-primary-color: #1B988A;
  --amplify-primary-tint: #1b2998;
  --amplify-primary-shade: #1B988A;
}

meter::-webkit-meter-optimum-value {
  background: #21981b;
}
meter::-moz-meter-bar { /* Firefox Pseudo Class */
  background: #21981b;
}